################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ceva-routing-poc/.vs/ceva-routing-poc
